################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/C-_Homeworks/FileContentIndex/3ba617bf-5f3a-457a-961d-208874b4ed43.vsidx
/.vs/C-_Homeworks/FileContentIndex/3ba617bf-5f3a-457a-961d-208874b4ed43.vsidx
